
<div class="form-group" class="border" > <h2>BMI CALCULATOR </h2>

  <div class="row m-1">

  <label for="name" class="form-label"><h4>Enter Your Height : </h4></label>
  <div class="col-sm-8">
      <input type="number" placeholder="Enter a height in cms" 
      class="form-control m-2" [(ngModel)]="n1">         
  </div>

  <label for="name" class="form-label"><h4>Enter Your Weight : </h4></label>
  <div class="col-sm-8">
    <input type="number" placeholder="Enter a weight in Kgs" 
    class="form-control m-2" [(ngModel)]="n2" >         
  </div>


<app-result [num1]="n1 / 100" [num2]="n2"></app-result>

</div>
</div>